.team-heading  {
    background-color: #00005c;
}

h1 {
    color: white;
}

.employee-card {
    background-color: #5c0bf1;
}

.card-body {
    background-color: #00f7ff;
}
.list-group-item {
    background-color: #ffffff;
}
h2, h3 {
    color: white;
}
i  {
    color: black;
}